body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    font-style: italic;
}

h1 {
    color: rgb(26, 74, 231);
    text-align: center;
    text-decoration: rgb(243, 3, 3);
}